#home {
  .subscribe {
    color: white !important;
  }

  .intro-header {
    @include respond-below(sm) {
      display: none;
    }

  }

  .button.button-args {
    background: #f5f5f5;
    color: $font-color;
    border-left: 3px solid $pascal-color;
    font-size: 14px;
  }

  .faq1 .panel.faqpanel img {
    max-width: 100%;
    height: auto;
  }
}