#home {
  .subscribe {
    color: white !important;
  }

  .intro-header {
    @include respond-below(sm) {
      display: none;
    }

  }

  .button.button-args {
    background: #f5f5f5;
    color: $font-color;
    border-left: 3px solid $pascal-color;
    font-size: 14px;
  }

  .faq1 .panel.faqpanel img {
    max-width: 100%;
    height: auto;
  }

  #binance-ct {
    h1 {
      background: transparent !important;
    }
    padding: 20px;
    text-align: center;
    background: linear-gradient(327deg, #461616, #161616);
    background-size: 400% 400%;

    /*
    -webkit-animation: binance 15s ease alternate;
    -moz-animation: binance 15s ease alternate;
    animation: binance 15s ease alternate;

    @-webkit-keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }
    @-moz-keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }
    @keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }*/
  }
}