#home {
  .subscribe {
    color: white !important;
  }

  .intro-header {
    @include respond-below(sm) {
      display: none;
    }

  }

  .button.button-args {
    background: #f5f5f5;
    color: $font-color;
    border-left: 3px solid $pascal-color;
    font-size: 14px;
  }

  .faq1 .panel.faqpanel img {
    max-width: 100%;
    height: auto;
  }

  #binance-ct {
    h1 {
      background: transparent !important;
    }
    padding: 20px;
    text-align: center;
    background: linear-gradient(327deg, #461616, #161616);
    background-size: 400% 400%;

    /*
    -webkit-animation: binance 15s ease alternate;
    -moz-animation: binance 15s ease alternate;
    animation: binance 15s ease alternate;

    @-webkit-keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }
    @-moz-keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }
    @keyframes binance {
      0%{background-position:0% 2%}
      50%{background-position:100% 99%}
      100%{background-position:0% 2%}
    }*/
  }

  #news {
    border-left: 1px solid #c0c0c0;
    @include respond-below(sm) {
      border-left: none;
      border-top: 1px solid #c0c0c0;
      padding-top: 20px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      @include respond-below(sm) {
        font-weight: bold;
        text-align: center;
      }
    }

    .news-ct {
      border-radius: 2px;
      background: white;
      border-bottom: 1px solid #c0c0c0;
      padding: 10px;
      &.medium a i {
        color: #57Ad68;
      }
      a {
        font-weight: 700;
        color: black;
        font-size: 20px;
        margin: 0;
      }
      p {
        margin: 0;
      }
      .news-ct {
        padding: 5px;
        margin-bottom: 5px;
      }
    }
  }
}