/* All Mobile Sizes (devices and browser) */

@include respond-below(sm) {

    h1, .h1 {
        font-size: 50px;
    }

    h3, .h3 {
        font-size: 20px;
    }

    .col-sm-4 {
        text-align: center;
    }

    .col-sm-4 > i {
        text-align: center;
    }

    .col-sm-5 .img-responsive {
        display: none
    }

    .col-sm-5 {
        margin-top: 120px
    }

    .section-heading {
        text-align: center
    }

    .lead {
        text-align: center
    }

    .box-icon {
        margin: 0 auto;
    }

    .social {
        text-align: center
    }

    .footer-banner {
        display: none
    }

    .navbar-nav > li > a {
        font-size: 22px;
        line-height: 42px;
        font-weight: 400;
        text-align: center;
    }

    .sub-title {
        text-align: center
    }

    .pull-right {
        margin-bottom: 40px;
    }

    address {
        margin-top: 130px;
    }

    .address {
        text-align: center
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    h1, .h1 {
        font-size: 50px;
    }

    h3, .h3 {
        font-size: 20px;

    }

    .col-sm-4 {
        text-align: center;
    }

    .col-sm-5 {
        margin-top: 120px
    }

    .box-ct {
        text-align: center
    }

    .box-icon {
        margin: 0 auto;
    }

    address {
        margin-top: 80px;
    }

    .address {
        text-align: center
    }

    .footer-banner {
        display: none
    }

}

@media only screen and  (max-width: 1366px) {
    .panel.panel-default {
        margin-top: 6%;
    }

    .slider-wrap-data {
        margin-left: 3%;
    }
}

@media only screen and  (max-width: 1030px) {
    .single-feature.mhight {
        min-height: 420px;
    }
}

@media only screen and  (max-width: 800px) {
    .section-ticker {
        .section-ticker__info:nth-child(n+3):nth-last-child(n+3)  {
            display: none;
        }
    }
}

@media only screen and  (max-width: 1030px) {
    .container {
        width: 100%;
    }

    .top-call {
        width: 30%;
    }

    .tleft-call {
        width: 70%;
    }

    .navbar-default {
        float: left;
        min-height: 78px;
        padding-top: 4px;
        width: 100%;
    }

    .col-sm-6.verticaldata {
        float: left;
        width: 100%;
    }

    .col-sm-6.vertical-img {
        display: none;
        width: 100%;
    }

    .sideimg {
        right: 0;
    }

    .sidedata {
        margin-right: 11%;
    }

    .panel.panel-default {
        margin-top: 4%;
        padding-bottom: 4%;
    }

}

@media only screen and  (max-width: 800px) {
    .nav > li {
        padding-left: 32px;
    }

    .tleft-call a {
        padding: 0 14px;
    }

    .Secure {
        margin-bottom: 0 !important;
    }

    .readmore {
        margin-top: 6%;
    }

    .sidedata {
        margin-right: 13%;
    }

    .test-mg {
        display: none;
    }
}

@media only screen and  (max-width: 768px) {
    #whatis {
        width: 100%;
    }

    .navbar-toggle::before {
        color: #34495e;
        content: "\f0c9";
        font-family: fontawesome;
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        transition: color 0.25s linear 0s;
    }

    .navbar-header {
        margin: 0 !important;
    }
}

@media only screen and  (max-width: 767px) {
    .intro-header {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        color: #f8f8f8;

        height: auto;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .tleft-call a {
        padding: 0 10px;
    }

    #useit {
        padding: 0 !important;
        width: 100%;
    }

    .sidedata p {
        text-align: right;
    }

    .sidedata {
        margin-right: 15%;
    }

    .panel.panel-default {
        padding-left: 4%;
    }

    .serice h2 {
        font-size: 24px;
    }

    .serices {
        margin: 0;
        width: 100%;
    }

    .COPPER {
        background-color: #415868;
        color: #fff !important;
        font-size: 24px !important;
        letter-spacing: 1pt !important;
        margin: 0 !important;
        padding-bottom: 27%;
        padding-top: 4%;
        width: 100%;
    }

    .copper-img, .copper-img2, .copper-img3 {
        margin-top: -14%;
    }

    .planlist {
        margin-top: 0;

    }

    .serices {
        margin: 0 0 2%;
        width: 100%;
    }

    .subsc > h2 {
        font-size: 30px;
    }

    .subsc > p {
        font-size: 15px;
        margin-bottom: 2%;
    }

    .joinus a {
        background-color: #0ea5b0;
        border-color: #0ea5b0;
        border-radius: 1px;
        box-shadow: none;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0;
        margin-top: 14%;
        padding: 5px !important;
        text-transform: uppercase;
    }

    .serice h2 {
        letter-spacing: 0;
    }

    .navbar-nav > li > a {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }

    .sub-text-box {
        display: inline-block;
        width: 100%;
    }
}

@media only screen and  (max-width: 650px) {
    .Secure {
        margin-top: 0;
        padding: 0 48px;
    }
}

@media only screen and  (max-width: 568px) {
    .top-call {
        width: 100%;
    }

    .tleft-call {
        float: left;
        width: 100%;
    }

    .slider-wrap-data {
        margin-left: 0%;
    }

    .thinkdata {
        font-size: 30px;
    }
}

@media only screen and  (max-width: 480px) {
    .copper-img, .copper-img2, .copper-img3 {
        margin-top: -27%;
    }

    .tleft-call > ul {
        float: right;
        margin-bottom: 0;
        padding-left: 0;
    }

    .tleft-call a {
        padding: 0 7px;
    }

    .serices {
        padding-bottom: 10%;
    }
}

@media only screen and  (max-width: 414px) {
    .sideimg {
        display: none;

    }

    .sidedata {
        margin-right: 0%;
    }
}

@media only screen and (max-width: 738px) {
    ul.roadmap li i {
        width: 8%;
    }

    .roadmap p {
        float: left;
        width: 90%;
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    ul.roadmap li {
        width: 100%;
    }
}