.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.faqpanel ul {
    padding: inherit;
    list-style-type: inherit;
}

.faqpanel ul li {
    list-style-type: inherit;
}

.panel-heading {
    background-color: $pascal-color !important;
    border: medium none !important;
    text-align: right;
    padding: 0;
}
